.images img{
    width: 100%;
    max-width: 400px; /* ajuste o tamanho máximo conforme a necessidade */
    height: auto;
    padding: 20px;
}
   
.linkinsta {
color: #0a0a0a;
padding: 0px;
font-size: xx-large;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}