body{
    background-color: brown;
    color: crimson;

}

classe1{
    width: 400px;
    height: 300px;
    border: 50px;
}

.dvCentraliza{
    margin: 0px auto;
    width: 80%;
    border: 1px dotted blue;
}

.textocentro{
    text-align: center;
}

h1{
    margin: 50px;
    padding: 25px 50px 45px 20px;
    border: 1px;
}

.image-container {
    display: flex;
    align-items: center;
}

.image-container img {
    margin-right: 10px;
}
  
  